<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>인사마스터</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    .card-header .btn-link {
      color: black;
      /* 글자 색상을 검정으로 변경 */
    }

    .card-header,
    .card-body {
      background-color: white;
      /* 배경 색상을 흰색으로 변경 */
    }

    .info-section {
      border: 1px solid lightgray;
      /* 테두리 색상 및 두께 설정 */
      padding: 5px;
      /* 내부 여백 설정 */
      margin: 5px 0;
      /* 외부 여백 설정 */
      width: 100%;
      /* 가로 길이 설정 */
      display: flex;
      /* info-section 내부 요소들을 flex로*/
      align-items: center;
      /* 세로 방향에서 가운데 정렬 */
    }

    .info-title {
      flex-basis: 30%;
      /* 제목 부분의 기본 너비를 설정 */
      background-color: #fdf4f8;
      /* 배경 */
      padding: 10px;
      border: 1px solid #ccc;
      text-align: center;
      /* 텍스트를 오른쪽 정렬 */
      margin-right: 10px;
      /* 제목과 내용 사이의 간격 */
      min-width: 100px;
    }

    .info-content {
      flex-grow: 1;
      /* 내용 부분이 남은 공간을 모두 채우도록 설정 */
      background-color: white;
      /* 흰색 배경 */
      padding: 10px;
      border: 1px solid #ccc;
    }

    .info-content.no-border {
      border: none;
      /* 테두리 없애기 */
    }

    .required {
      color: red;
    }

    .custom-btn {
      background-color: transparent;
      /* 배경색 투명 */
      color: black;
      /* 글자색 검정 */
      text-decoration: none;
      /* 밑줄 없음 */
      border: none;
      /* 테두리 없음 */
      padding: 0;
      /* 패딩 제거 */
      margin: 0;
      /* 마진 제거 */
    }

    .custom-btn:hover {
      background-color: transparent;
      /* 호버 시 배경색 유지 */
      color: lightslategray;
      /* 호버 시 글자색  */
      text-decoration: none;
      /* 호버 시 밑줄 유지 */
    }

    .btn-outline-secondary {
      width: 200px;
      height: 40px;
    }

    .btn-block {
      width: 100%;
      /* 버튼 너비를 컬럼 너비에 맞춤 */
      min-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .btn-block,
    .info-title .btn-outline-primary {
      white-space: nowrap;
    }

    .btn-outline-primary {
      min-width: 70px;
    }

    .info-content[readonly] {
      background-color: #f0f0f0;
      /* 연한 회색 */
    }

    /* 미디어 쿼리 */
    @media (max-width: 768px) {

      .info-title,
      .info-content {
        font-size: 0.8rem;
        /* 폰트 크기 줄이기 */
      }

      .btn-outline-secondary {
        padding: 0.375rem 0.75rem;
        /* 버튼 패딩 조정 */
        font-size: 0.75rem;
        /* 버튼 폰트 크기 줄이기 */
      }
    }
  </style>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <div>
    <div style="text-align: center; font-size: 24px; margin-top: 20px">
      인사정보등록
    </div>
    <hr />
    <div style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
        ">
      <nav class="navbar" style="background-color: white;">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <!-- <input id="companyIDInput" class="form-control me-2" type="search" placeholder="사번" aria-label="Search"> -->
            <input id="nameInput" class="form-control me-2" type="search" placeholder="이름" aria-label="Search">
            <button class="btn btn-outline-success" type="button" onclick="searchEmployee()"
              style="width: 150px;">검색</button>

          </form>
        </div>
      </nav>

      <div>
        <button type="button" class="btn btn-outline-primary" onclick="saveEmployeeData()">등록</button>


      </div>
    </div>
    <hr />
    <div style="
            flex-basis: 75%;
            flex-grow: 0;
            border-left: 1px solid #ccc;
            padding-left: 20px;
          ">
      <div class="row g-2">
        <div class="col-md-3">
          <!-- 1열: 성명, 사번, 직군/부서 -->
          <div class="info-section">
            <label for="name" class="info-title"><span class="required">*</span>이름</label>
            <input type="text" id="name" class="info-content form-control" value="">
          </div>
          <div class="info-section">
            <label for="companyId" class="info-title">사번</label>
            <input type="text" id="companyId" class="info-content form-control" value="" readonly>
          </div>
          <div class="info-section">
            <label for="jobCategory/department" class="info-title"><span class="required">*</span>직군/부서</label>
            <input type="text" id="jobCategory/department" class="info-content form-control" value="">
          </div>
        </div>
        <div class="col-md-3">
          <!-- 2열: 직급, 직책, 사내전화 -->
          <div class="info-section">
            <label for="positionLank" class="info-title"><span class="required">*</span>직급</label>
            <input type="text" id="positionLank" class="info-content form-control" value="">
          </div>
          <div class="info-section">
            <label for="position" class="info-title"><span class="required">*</span>직책</label>
            <input type="text" id="position" class="info-content form-control" value="">
          </div>
          <div class="info-section">
            <label class="info-title">사내전화</label>
            <input type="text" id="internalPhone" class="info-content form-control" value="">
          </div>
        </div>
        <div class="col-md-3">
          <!-- 3열: 휴대전화, 근무지, 근무조 -->
          <div class="info-section">
            <label for="phoneNumber" class="info-title"><span class="required">*</span>휴대전화</label>
            <input type="text" id="phoneNumber" class="info-content form-control" value="">
          </div>
          <div class="info-section">
            <label for="workLocation" class="info-title"><span class="required">*</span>근무지</label>
            <input type="text" id="workLocation" class="info-content form-control" value="">
          </div>
          <div class="info-section">
            <label for="internalEmail" class="info-title">사내메일</label>
            <input type="text" id="internalEmail" class="info-content form-control" value="">
          </div>
        </div>
        <div class="col-md-3">
          <!-- 4열: 입사 일자, 퇴사 구분, 퇴사 일자 -->
          <div class="info-section">
            <label for="joiningDate" class="info-title"><span class="required">*</span>입사 일자</label>
            <input type="date" id="joiningDate" class="info-content form-control" value="">
          </div>
          <div class="info-section">
            <label for="resignationType" class="info-title">퇴사 구분</label>
            <input type="text" id="resignationType" class="info-content form-control" value="">
          </div>
          <div class="info-section">
            <label for="resignationDate" class="info-title">퇴사 일자</label>
            <input type="date" id="resignationDate" class="info-content form-control" value="" readonly>
          </div>
        </div>
      </div>

      <hr />

      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col">
            <button type="button" id="btnPersonalDetails" class="btn btn-outline-secondary btn-block">기본인적사항</button>
          </div>
          <div class="col">
            <button type="button" id="btnWorkDetails" class="btn btn-outline-secondary btn-block">회사근무사항</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-block" disabled>사내이력</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-block" disabled>교육이력</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-block" disabled>상벌이력</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">


        <!-- 기본 인적사항 섹션 -->
        <div id="personalDetailsSection" class="row">
          <div class="col-md-4">
            <div class="info-section">
              <label for="englishName" class="info-title">영문이름</label>
              <input type="text" id="englishName" class="info-content form-control" value="">
            </div>
            <div class="info-section">
              <label for="personalNumber" class="info-title">주민번호</label>
              <input type="text" id="personalNumber" class="info-content form-control" value="">
            </div>
            <div class="info-section">
              <label for="homeAddress" class="info-title">자택 주소</label>
              <input type="text" id="homeAddress" class="info-content form-control" value="">
            </div>
            <div class="info-section">
              <label for="detailAddress" class="info-title">상세 주소</label>
              <input type="text" id="detailAddress" class="info-content form-control" value="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-section">
              <label for="homePhoneNumber" class="info-title">비상연락망</label>
              <input type="text" id="homePhoneNumber" class="info-content form-control" value="">
            </div>
            <div class="info-section">
              <label for="isMilitary" class="info-title">군필여부</label>
              <select id="isMilitary" class="info-content form-control">
                <option value="true">해당</option>
                <option value="false">미해당</option>
              </select>
            </div>
            <div class="info-section">
              <label for="isMartial" class="info-title">결혼유무</label>
              <select id="isMartial" class="info-content form-control">
                <option value="true">해당</option>
                <option value="false">미해당</option>
              </select>
            </div>
            <div class="info-section">
              <label for="weddingDay" class="info-title">결혼기념일</label>
              <input type="date" id="weddingDay" class="info-content form-control" value="">
            </div>
          </div>
        </div>
        <!-- 회사 근무사항 섹션 -->
        <div id="workDetailsSection" class="row" style="display: none;">
          <!-- 1열 -->
          <div class="col-md-4">
            <div class="info-section">
              <label for="employmentType" class="info-title"><span class="required">*</span>입사구분</label>
              <input type="text" id="employmentType" class="info-content form-control">
            </div>
            <div class="info-section">
              <label for="performance" class="info-title">고과여부</label>
              <input type="text" id="isHighPerformance" class="info-content form-control">
            </div>
            <div class="info-section">
              <label for="overseas" class="info-title">해외파견</label>
              <input type="text" id="isOverseasAssignment" class="info-content form-control">
            </div>
          </div>
          <!-- 2열 -->
          <div class="col-md-4">
            <div class="info-section">
              <label for="unionMember" class="info-title">조합원</label>
              <input type="text" id="isUnionMember" class="info-content form-control">
            </div>
            <div class="info-section">
              <label for="severancePay" class="info-title">퇴직금금액</label>
              <input type="text" id="resignationAmount" class="info-content form-control">
            </div>
            <div class="info-section">
              <label for="resignationReason" class="info-title">퇴직사유</label>
              <input type="text" id="resignationReason" class="info-content form-control">
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button type="button" class="btn btn-outline-danger btn-sm" onclick="showConfirmation()">삭제</button>
            </div>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
          function searchEmployee() {
            const name = document.getElementById("nameInput").value;

            fetch(`/api/employees/${name}`, {
              method: 'GET', // GET 요청은 body를 포함하지 않음
              headers: {
                'Accept': 'application/json', // 응답으로 JSON을 기대함을 명시
              }
            })
              .then(response => {
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                return response.json();
              })
              .then(data => {
                // 응답 데이터를 입력 필드에 설정
                document.getElementById("name").value = data.name; //성명
                document.getElementById("companyId").value = data.companyId; // 서버 응답에 따라 필드명을 확인하고 조정해야 할 수 있음 //사번
                document.getElementById("jobCategory/department").value = data.department; // 예시: jobCategory와 department가 하나의 필드로 합쳐져 있다고 가정 //직군부서
                document.getElementById("positionLank").value = data.positionLank; //직급
                document.getElementById("position").value = data.position; //직책
                document.getElementById("internalPhone").value = data.internalPhone; //사내전화
                document.getElementById("phoneNumber").value = data.phoneNumber; //휴대전화
                document.getElementById("workLocation").value = data.workLocation; //근무지
                document.getElementById("internalEmail").value = data.internalEmail; //사내메일
                document.getElementById("joiningDate").value = data.joiningDate ? data.joiningDate.split('T')[0] : ''; // 날짜 형식을 YYYY-MM-DD로 조정 //입사일자
                document.getElementById("resignationType").value = data.resignationType; //퇴사구분
                document.getElementById("resignationDate").value = data.resignationDate ? data.resignationDate.split('T')[0] : ''; // 날짜 형식을 YYYY-MM-DD로 조정 //퇴사일자
                document.getElementById("isMilitary").value = data.isMilitary.toString(); //군필여부
                document.getElementById("isMartial").value = data.isMartial.toString(); //결혼유무
                document.getElementById("name").value = data.name; //성명
                document.getElementById("englishName").value = data.englishName; //영문이름
                document.getElementById("personalNumber").value = data.personalNumber; //주민번호
                document.getElementById("homeAddress").value = data.homeAddress; //자택주소
                document.getElementById("detailAddress").value = data.detailAddress;//상세주소
                document.getElementById("homeAddress").value = data.homeAddress;//비상연락망
                document.getElementById("weddingDay").value = data.weddingDay ? data.weddingDay.split('T')[0] : '';//결혼기념일 - 날짜
                document.getElementById("employmentType").value = data.employmentType.toString();//입사구분  인턴 계약직 신입 경력
                document.getElementById("isHighPerformance").value = data.isHighPerformance.toString(); //고과여부
                document.getElementById("isOverseasAssignment").value = data.isOverseasAssignment.toString();//해외파견여부
                document.getElementById("isUnionMember").value = data.isUnionMember.toString();//조합원 여부 
                document.getElementById("resignationAmount").value = data.resignationAmount;//퇴직금금액 
                document.getElementById("resignationReason").value = data.resignationReason;//퇴직사유 



                // 기본인적사항~상벌사항에 대한 데이터 표시 로직 추가 (필요에 따라) //퇴사일자
              })
              .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while fetching the employee data');
              });
          }
          // '등록' 버튼을 클릭했을 때 실행되는 함수
          function saveEmployeeData() {
            // 각 입력 필드에서 값 수집
            const employeeData = {
              password: document.getElementById('password').value,
              name: document.getElementById('name').value,
              englishName: document.getElementById('englishName').value,
              personalNumber: document.getElementById('personalNumber').value,
              phoneNumber: document.getElementById('phoneNumber').value,
              homePhoneNumber: document.getElementById('homePhoneNumber').value,
              isMilitary: document.getElementById('isMilitary').value === 'true', // 'true' 문자열을 Boolean으로 변환
              nationality: document.getElementById('nationality').value,
              isMartial: document.getElementById('isMartial').value === 'true', // 'true' 문자열을 Boolean으로 변환
              weddingDay: document.getElementById('weddingDay').value,
              homeAddress: document.getElementById('homeAddress').value,
              detailAddress: document.getElementById('detailAddress').value,
              employmentType: document.getElementById('employmentType').value,
              joiningDate: document.getElementById('joiningDate').value,
              resignationType: document.getElementById('resignationType').value,
              resignationDate: document.getElementById('resignationDate').value,
              resignationReason: document.getElementById('resignationReason').value,
              resignationAmount: document.getElementById('resignationAmount').value,
              workLocation: document.getElementById('workLocation').value,
              jobCategory: document.getElementById('jobCategory').value,
              department: document.getElementById('department').value,
              position: document.getElementById('position').value,
              positionLank: document.getElementById('positionLank').value,
              internalPhone: document.getElementById('internalPhone').value,
              internalEmail: document.getElementById('internalEmail').value,
              isHighPerformance: document.getElementById('isHighPerformance').value,
              isUnionMember: document.getElementById('isUnionMember').value,
              isOverseasAssignment: document.getElementById('isOverseasAssignment').value,
              shift: document.getElementById('shift').value,
            };

            // AJAX 요청을 사용하여 서버로 데이터 전송
            fetch('/api/employees', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(employeeData),
            })
              .then(response => response.json())
              .then(data => {
                console.log('Success:', data);
                // 성공적으로 데이터를 전송한 후의 로직 작성
              })
              .catch((error) => {
                console.error('Error:', error);
              });
          }

          function deleteEmployee(id) {
            var result = confirm("삭제하시겠습니까?");
            if (result) {
              // 서버로 DELETE 요청을 보냅니다.
              fetch(`/api/employees/{companyId}`, {
                method: 'DELETE',
              })
                .then(response => {
                  if (!response.ok) {
                    throw new Error('Failed to delete employee');
                  }
                  // 성공적으로 삭제되면 페이지를 새로고침합니다.
                  location.reload();
                })
                .catch(error => {
                  console.error('Error:', error);
                  // 삭제에 실패한 경우 사용자에게 알립니다.
                  alert('Employee deletion failed.');
                });
            }
          }
          function hideAllSections() {
            document.getElementById("personalDetailsSection").style.display = "none";
            document.getElementById("workDetailsSection").style.display = "none";
            // 추가 섹션 숨기기 구현이 필요하면 여기에 추가
          }

          function showSection(sectionId) {
            hideAllSections();
            const section = document.getElementById(sectionId);
            section.style.display = "";
          }
          document.getElementById("btnPersonalDetails").addEventListener("click", function () {
            showSection("personalDetailsSection");
          });

          document.getElementById("btnWorkDetails").addEventListener("click", function () {
            showSection("workDetailsSection");
          });

          document.addEventListener("DOMContentLoaded", function () {
            // 모든 필수 입력 필드에 대한 참조를 가져옵니다.
            const requiredFields = document.querySelectorAll(".info-content");

            // 각 필수 입력 필드에 입력 이벤트 리스너를 추가합니다.
            requiredFields.forEach(field => {
              field.addEventListener("input", function () {
                // 필수 입력 필드 옆의 '*'를 숨기거나 보여줍니다.
                const requiredMark = this.parentElement.querySelector(".required");
                if (this.value) {
                  if (requiredMark) requiredMark.style.display = "none";
                } else {
                  if (requiredMark) requiredMark.style.display = "inline";
                }
              });
            });
          });
        </script>

</body>

</html>